@{
    ViewData["Title"] = "Basketball Page";
}
<style>
    table, td {
        border: 2px solid lightgray;
        padding: 25px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Basketball Reservation</h1>
    <p style="color:green;">We only have one basketball court. Reservation is only allowed 1 day in advance.</p>
    <p style="color:green;">Every Reservation is 1 hour (if you want the reserve for longer, please make more than one reservation)</p>
    <p style="color:green;">Basketball court is open everyday 10AM - 5PM</p>

    <div>
        <section>
            <img src="/img/basketballCourtImage.jpg" style="width:1000px; height: 450px">
        </section>
    </div>
    <div>

        <table id="Basketball-table" style="width:100%; margin-top:20px; ">
            <tr>
                <td style="text-align:center; background-color:yellow; font-weight:bold">SLOT</td>
                <td style="text-align: center; background-color: yellow; font-weight: bold">AVAILIBILITY</td>
                <td style="text-align: center; background-color: yellow; font-weight: bold">ACTION</td>
            </tr>
            @foreach (var row in Model)
            {
                <tr>
                    <td style="width: 33%">@row[0]</td>
                    @if (row[1] == "Available")
                    {
                        <td class="chair-status" style="width: 33%; background-color:#93ef93;">@row[1]</td>
                        <td style="width: 34%"><input type="button" onclick="SendTennisCourtReservationRequestToController('@row[1]', '@row[0]')" value="Reserve" /></td>
                    }
                    else
                    {
                        <td style="background-color: #e8bdbd; width: 33%">@row[1]</td>
                        <td style="width: 34%"><input type="button" onclick="SendTennisCourtReservationRequestToController('@row[1]', '@row[0]')" value="Cancel" /></td>
                    }
                </tr>
            }
        </table>
    </div>
</div>

<script>
    // Reserve/cancel time request
    function SendTennisCourtReservationRequestToController(reserveOrCancel, time) {
        var isReserve = (reserveOrCancel == "Available") ? true : false;
        if (isReserve) {
            var aptNumber = prompt("To reserve the time please enter your apartment number").toUpperCase();
        } else {
            var aptNumber = prompt("To cancel your reservation please enter your apartment number").toUpperCase();
        }
        reservationSendData("/api/Home/BasketballRequest?time=" + time + "&&isReserve=" + isReserve + "&&aptlNumber=" + aptNumber, isReserve);
    }
</script>
