@{
    ViewData["Title"] = "BBQ Grill Page";
}
<style>
    table, td {
        border: 2px solid lightgray;
        padding: 25px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">BBQ Grill Reservation</h1>
    <p style="color:green;">We have 4 bbq grills to reserve. The grills are spotted around the building as in the picture below.</p>
    <p style="color:green;">Reservations are only allowed 1 day in advance.</p>
    <p style="color:green;">Every Reservation is 2 hours (if you want the grill for longer, please make more than one reservation)</p>
    <p style="color:green;">Grills are open for reservation everyday 10AM - 8PM</p>

    <div>
        <section>
            <img src="/img/bbqGrills.PNG" style="width:1000px; height: 450px">
        </section>
    </div>
    <div>
        <section style="margin:30px; width:100%;">
            <label for="bbq-dropdown-select-time">Please Select Time:</label>
            <select name="bbq-dropdown-select-time" style="width:40%; margin-left:30%;" class="form-control" id="bbq-dropdown-select-time">
                <option value="0"></option>
                <option value="1">10AM - 12PM</option>
                <option value="2">12PM - 2PM</option>
                <option value="3">2PM - 4PM</option>
                <option value="4">4PM - 6PM</option>
            </select>
        </section>

        <table id="grill-table" style="width:100%">
            <tr>
                <td style="text-align:center; background-color:yellow; font-weight:bold">GRILL NO</td>
                <td style="text-align: center; background-color: yellow; font-weight: bold">AVAILIBILITY</td>
                <td style="text-align: center; background-color: yellow; font-weight: bold">ACTION</td>
            </tr>
            @foreach (var row in Model)
            {
                <tr>
                    <td style="width:33%">@row[0]</td>
                    @if (row[1] == "Available")
                    {
                        <td class="width:33%; chair-status" style="background-color:#93ef93;">@row[1]</td>
                        <td style="width:34%"><input type="button" onclick="SendBBQGrillReservationRequestToController('@row[1]', '@row[0]')" value="Reserve" /></td>
                    }
                    else
                    {
                        <td style="width: 33% ; background-color:#e8bdbd;">@row[1]</td>
                        <td style="width:34%"><input type="button" onclick="SendBBQGrillReservationRequestToController('@row[1]', '@row[0]')" value="Cancel" /></td>
                    }
                </tr>
            }
        </table>
    </div>
</div>

<script>
    // Assign grillNumber to its dropdown
    var time = window.location.href.substring(window.location.href.indexOf("=") + 1);
    document.getElementById("bbq-dropdown-select-time").value = time;

    // On time selection
    document.getElementById("bbq-dropdown-select-time").onchange = SendGrillSelectedtimeToController;
    function SendGrillSelectedtimeToController() {
        var e = document.getElementById("bbq-dropdown-select-time");
        var grillSelectedtime = e.options[e.selectedIndex].value;

        window.location.href = '/Home/BBQ?time=' + parseInt(grillSelectedtime);
    }

    // Hide pool-table if necessary
    if (time == "0")
        document.getElementById("grill-table").style.display = "none";

    // Reserve/cancel time request
    function SendBBQGrillReservationRequestToController(reserveOrCancel, seat) {
        var isReserve = (reserveOrCancel == "Available") ? true : false;
        if (isReserve) {
            var aptNumber = prompt("To reserve the time please enter your apartment number").toUpperCase();
        } else {
            var aptNumber = prompt("To cancel your reservation please enter your apartment number").toUpperCase();
        }

        // Warning. Check if the apartment number exist before you proceed

        if (aptNumber != null && aptNumber != "") {
            reservationSendData("/api/Home/GrillRequest?grillNumber=" + seat + "&&time=" + time + "&&isReserve=" + isReserve + "&&aptlNumber=" + aptNumber, isReserve);
        }
    }
</script>
