@{
    ViewData["Title"] = "Pool Page";
}
<style>
    table, td {
        border: 2px solid lightgray;
        padding: 25px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Pool Reservation</h1>
    <p style="color:green;">We have 10 times to reserve. Reservations are only allowed 1 day in advance.</p>
    <p style="color:green;">Every Reservation is 1 hour (if you want the time for longer, please make more than one reservation)</p>
    <p style="color:green;">Pool opens everyday 10AM - 5PM</p>

    <div>
        <section>
            <img src="/img/poolchairs.PNG" style="width:1000px; height: 450px">
        </section>
    </div>
    <div>
        <section style="margin:40px; width:100%;">
            <label for="pool-dropdown-select-time">Please Select Time:</label>
            <select name="pool-dropdown-select-time" style="width:40%; margin-left:30%;" class="form-control" id="pool-dropdown-select-time">
                <option value="0"></option>
                <option value="1">10AM - 11AM</option>
                <option value="2">11AM - 12PM</option>
                <option value="3">12PM - 1PM</option>
                <option value="4">1PM - 2PM</option>
                <option value="5">2PM - 3PM</option>
                <option value="6">3PM - 4PM</option>
                <option value="7">4PM - 5PM</option>
            </select>
        </section>

        <table id="pool-table" style="width:100%">
            <tr>
                <td style="text-align:center; background-color:yellow; font-weight:bold">CHAIR</td>
                <td style="text-align: center; background-color: yellow; font-weight: bold">AVAILIBILITY</td>
                <td style="text-align: center; background-color: yellow; font-weight: bold">ACTION</td>
            </tr>
            @foreach (var row in Model)
            {
                <tr>
                    <td style="width:33%">@row[0]</td>
                    @if (row[1] == "Available")
                    {
                        <td class="time-status" style="background-color:#93ef93; width:33%">@row[1]</td>
                        <td style="width:34%"><input type="button" onclick="SendPoolTimeReservationRequestToController('@row[1]', '@row[0]')" value="Reserve" /></td>
                    }
                    else
                    {
                        <td style="background-color:#e8bdbd; width:33%">@row[1]</td>
                        <td style="width:34%"><input type="button" onclick="SendPoolTimeReservationRequestToController('@row[1]', '@row[0]')" value="Cancel" /></td>
                    }
                </tr>
            }
        </table>
    </div>
</div>

<script>
    // Assign timeNumber to its dropdown
    var time = window.location.href.substring(window.location.href.indexOf("=") + 1);
    document.getElementById("pool-dropdown-select-time").value = time;

    // On time selection
    document.getElementById("pool-dropdown-select-time").onchange = SendPoolSelectedtimeToController;
    function SendPoolSelectedtimeToController() {
        var e = document.getElementById("pool-dropdown-select-time");
        var poolSelectedtime = e.options[e.selectedIndex].value;

        window.location.href = '/Home/Pool?time=' + parseInt(poolSelectedtime);
    }

    // Hide pool-table if necessary
    if (time == "0")
        document.getElementById("pool-table").style.display = "none";

    // Reserve/cancel time request
    function SendPoolTimeReservationRequestToController(reserveOrCancel, seat) {
        var isReserve = (reserveOrCancel == "Available") ? true : false;
        if (isReserve) {
            var aptNumber = prompt("To reserve the time please enter your apartment number").toUpperCase();
        } else {
            var aptNumber = prompt("To cancel your reservation please enter your apartment number").toUpperCase();
        }

        // Warning. Check if the apartment number exist before you proceed

        if (aptNumber != null && aptNumber != "") {
            reservationSendData("/api/Home/PoolRequest?chairNumber=" + seat+" &&time=" + time + "&&isReserve=" + isReserve + "&&aptlNumber=" + aptNumber);
        }
    }
</script>
